
// Animation Loader background //

@keyframes loader {
    0%{
        opacity: 1;
    }
    98%{
        opacity: 0.35;
    }
    100%{
        opacity: 0;
        display: none;

    }
}

// Animation Loader dots //

@keyframes loader__dots {
    100%{
        transform: translateY(-25px);

    }

}

@keyframes slideIn{
    0%{
        transform: translateY(50%);
        visibility: visible;
        opacity: 0;
    }
    80%{
        opacity: 0.75;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


// Animation Coeurs

// @keyframes coeur {
//     0%{
//         opacity: 0;
//     }
//     50%{
//         opacity: 0.5;
//     }
//     100%{
//         opacity: 1;
//     }
// }