
// Animation Loader background //

@keyframes loader {
    0%{
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    98%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        visibility: hidden;

    }
}

// Animation Loader dots //

@keyframes loader__dots {
    100%{
        transform: translateY(-25px);

    }

}

@keyframes slideIn{
    0%{
        transform: translatex(50%);
        visibility: hidden;
        opacity: 0;
    }

    80%{
        opacity: 0.75;
    }
    100%{
        visibility: visible;
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes rotationIn {
    0%{
        transform: rotate(0);
 
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes rotationOut {
    0%{
        transform: rotate(-360deg);
        visibility: visible;
    }
    80%{
        opacity: 0.1;
    }
    85%{
        visibility: hidden;
    }
    100%{
        transform: rotate(0);
        
    }
}

