*,
::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  94% {
    opacity: 0.5;
  }
  98% {
    opacity: 0.35;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes loader__dots {
  100% {
    transform: translateY(-25px);
  }
}
@keyframes coeur {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s linear;
  opacity: 0;
  z-index: 1000;
}
.loader .loader__dot {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #FFF;
  animation: loader__dots 0.4s infinite alternate;
}
.loader .loader__dot:nth-child(2) {
  animation-delay: 0.1s;
}
.loader .loader__dot:nth-child(3) {
  animation-delay: 0.2s;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__logo {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .header__logo .header__img {
  width: 162px;
  padding: 14px 0 8px 0;
}
.header .header__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__location .location__icon {
  position: relative;
  right: 18px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 39px 30px;
  background-color: #F7F7F7;
  text-align: center;
  gap: 27px;
  width: 100%;
}
.main-section .main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.main-section .main-content .main-text__title {
  padding: 0px 20px;
  font-weight: 700;
}
.main-section .main-content .main-text__txt {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.main-section .button {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding: 15px 20px;
}
.main-section .button:hover {
  opacity: 0.9;
}
.main-section .button a {
  color: #FFF;
}

.fonctionnement {
  padding: 48px 20px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement__title {
  margin-bottom: 26px;
}
.fonctionnement .fonctionnement-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 12px;
  counter-reset: counter;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  position: relative;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list::before {
  counter-increment: counter 1;
  content: counter(counter);
  position: absolute;
  left: -10px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list i {
  position: relative;
  left: -27px;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list:hover {
  background: #F5EDFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 48px 20px;
}
.restaurants .restaurants-title {
  padding-bottom: 25px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .cards .cards__card {
  height: 251px;
  width: 100%;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}
.restaurants .cards .cards__card .card__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards .cards__card .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px 12px 13px;
}
.restaurants .cards .cards__card .card__content .card__title {
  padding-bottom: 5px;
}
.restaurants .cards .cards__card .hearts {
  position: relative;
}
.restaurants .cards .cards__card .hearts .empty-heart {
  position: absolute;
  right: 0px;
  top: 0px;
  visibility: visible;
}
.restaurants .cards .cards__card .hearts .filled-heart {
  visibility: hidden;
}
.restaurants .cards .cards__card .hearts:hover .empty-heart {
  visibility: hidden;
}
.restaurants .cards .cards__card .hearts:hover .filled-heart {
  visibility: visible;
  animation: coeur 0.7s linear;
}
.restaurants .nouveau::after {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  font-size: 16px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 10px;
  border-radius: 2px;
  z-index: 2;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header__logo {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .header__logo .header__img {
  width: 162px;
  padding: 14px 0 8px 0;
}
.header .header__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__location .location__icon {
  position: relative;
  right: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  background-color: #353535;
  padding: 22px 20px 33px 20px;
}
.footer .footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__content .footer__list .footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 11px;
  color: #FFF;
}
.footer .footer__content .footer__list .footer__link .footer__icon {
  width: 11px;
  height: 13px;
}
.footer .footer__content .footer__list .footer__link p {
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */