*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  98% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader__dots {
  100% {
    transform: translateY(-25px);
  }
}
@keyframes slideIn {
  0% {
    transform: translatex(50%);
    visibility: hidden;
    opacity: 0;
  }
  80% {
    opacity: 0.75;
  }
  100% {
    visibility: visible;
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes rotationIn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotationOut {
  0% {
    transform: rotate(-360deg);
    visibility: visible;
  }
  80% {
    opacity: 0.1;
  }
  85% {
    visibility: hidden;
  }
  100% {
    transform: rotate(0);
  }
}
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s forwards;
  z-index: 1000;
}
.loader .loader__dot {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #FFF;
  animation: loader__dots 0.4s infinite alternate;
}
.loader .loader__dot:nth-child(2) {
  animation-delay: 0.1s;
}
.loader .loader__dot:nth-child(3) {
  animation-delay: 0.2s;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .header-logo {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.header .header-logo .header__img {
  width: 162px;
  padding: 14px 0 8px 0;
}
.header .header__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__location .location__icon {
  position: relative;
  right: 18px;
}
.header .header-back {
  position: absolute;
  left: 23px;
  color: #000;
  font-size: 17px;
  z-index: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  background-color: #353535;
  padding: 22px 20px 33px 20px;
}
.footer .footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__content .footer__list .footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 11px;
  color: #FFF;
}
.footer .footer__content .footer__list .footer__link .footer__icon {
  width: 11px;
  height: 13px;
}
.footer .footer__content .footer__list .footer__link p {
  padding-left: 10px;
}

@media (min-width: 1024px) {
  .footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 71px;
    padding-right: 125px;
  }
  .footer .footer__content {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 39px 30px;
  background-color: #F7F7F7;
  text-align: center;
  gap: 27px;
  width: 100%;
}
.main-section .main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.main-section .main-content .main-text__title {
  padding: 0px 20px;
  font-weight: 700;
}
.main-section .main-content .main-text__txt {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.main-section .button {
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  text-align: center;
  padding-top: 15px;
  color: #FFF;
}
.main-section .button a {
  color: #FFF;
}
.main-section .button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  padding: 48px 25px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.fonctionnement .fonctionnement__title {
  margin-bottom: 26px;
}
.fonctionnement .fonctionnement-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 12px;
  counter-reset: counter;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: background-color 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list::before {
  counter-increment: counter 1;
  content: counter(counter);
  position: absolute;
  left: -10px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list i {
  position: relative;
  right: 23px;
  color: #7E7E7E;
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list:hover {
  background-color: #F5EDFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.fonctionnement .fonctionnement-content .fonctionnement-content__list:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 48px 20px;
}
.restaurants .restaurants-title {
  padding-bottom: 25px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .cards .cards__card {
  position: relative;
}
.restaurants .cards .cards__card .card__link {
  width: 100%;
  height: 251px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants .cards .cards__card .card__link .card__img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards .cards__card .card__link .card__txt {
  height: 30%;
  color: #000;
  padding: 14px 13px;
}
.restaurants .cards .cards__card .card__link .card__txt .card__title {
  padding-bottom: 5px;
}
.restaurants .cards .cards__card .hearts {
  position: relative;
}
.restaurants .cards .cards__card .hearts .empty-heart {
  position: absolute;
  right: 25px;
  top: -50px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.restaurants .cards .cards__card .hearts .filled-heart {
  visibility: hidden;
  position: absolute;
  right: 25px;
  top: -50px;
  opacity: 0;
  transition: visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .cards .cards__card .hearts:hover .empty-heart {
  visibility: hidden;
  opacity: 0;
}
.restaurants .cards .cards__card .hearts:hover .filled-heart {
  visibility: visible;
  opacity: 1;
}
.restaurants .cards .cards__card .hearts:active .empty-heart {
  visibility: hidden;
  opacity: 0;
}
.restaurants .cards .cards__card .hearts:active .filled-heart {
  visibility: visible;
  opacity: 1;
}
.restaurants .nouveau::after {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  font-size: 16px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 10px;
  border-radius: 2px;
  z-index: 2;
}

@media (min-width: 768px) {
  .restaurants .restaurants-title {
    padding-left: 3.5%;
  }
  .restaurants .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .restaurants .cards .cards__card {
    width: 45%;
  }
  .fonctionnement {
    padding: 48px 125px;
  }
}
@media (min-width: 1024px) {
  .main-section {
    gap: 30px;
  }
  .main-section .main-content {
    gap: 25px;
  }
  .main-section .main-content .main-text__title {
    font-size: 40px;
  }
  .fonctionnement {
    height: 262px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }
  .fonctionnement .fonctionnement-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    gap: 50px;
  }
  .fonctionnement .fonctionnement-content .fonctionnement-content__list {
    width: 33%;
  }
  .restaurants {
    height: 425px;
    width: 100%;
  }
  .restaurants .restaurants-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  .restaurants .restaurants-container .restaurants-title {
    padding-left: 0;
  }
  .restaurants .restaurants-container .cards {
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
  }
  .restaurants .restaurants-container .cards .cards__card {
    width: 33%;
  }
}
.background__img {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 55px;
}

.rest-header {
  margin-top: 200px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding: 32px 0px 32px 13px;
}
.rest-header .rest-title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}
.rest-header .hearts {
  width: 100%;
  height: 100%;
  position: relative;
}
.rest-header .hearts .empty-heart {
  position: absolute;
  right: 35px;
  top: -32px;
  visibility: visible;
  opacity: 1;
  transition: visibility 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}
.rest-header .hearts .filled-heart {
  visibility: hidden;
  position: absolute;
  right: 35px;
  top: -31px;
  opacity: 0;
  transition: visibility 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}
.rest-header .hearts:hover .empty-heart {
  visibility: hidden;
  opacity: 0;
}
.rest-header .hearts:hover .filled-heart {
  visibility: visible;
  opacity: 1;
}

.rest {
  width: 100%;
  padding: 0 13px;
  background-color: hsl(0, 0%, 96%);
}
.rest .menu__title {
  font-size: 16px;
  font-weight: 300;
}
.rest .menu__title .border-title--green {
  border-bottom: 3px solid #99E2D0;
  display: inline-block;
  padding-bottom: 5px;
}
.rest .menu-content {
  padding-top: 12px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rest .menu-content .plate-card {
  width: 100%;
  height: 59px;
  border-radius: 15px;
  border: none;
  background-color: #FFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
  animation: slideIn 2s both;
  overflow: hidden;
}
.rest .menu-content .plate-card .plate-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 12px 0px 0px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.rest .menu-content .plate-card .plate-card-content .plate__title {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.rest .menu-content .plate-card .plate-card-content .subtitle {
  text-align: left;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.rest .menu-content .plate-card .price {
  margin-left: auto;
  height: 100%;
  font-weight: 700;
  padding: 35px 8px 12px 10px;
}
.rest .menu-content .plate-card .check-container {
  background-color: #99E2D0;
  height: 67px;
  width: 0px;
  padding-top: 28px;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition: width 0.4s ease-in-out;
}
.rest .menu-content .plate-card .check-container .check__icon {
  color: #FFF;
  font-size: 18px;
  animation: rotationOut 0.4s linear;
}
.rest .menu-content .plate-card:hover .check-container {
  width: 59px;
}
.rest .menu-content .plate-card:hover .check-container .check__icon {
  animation: rotationIn 0.4s linear;
}
.rest .menu-content .plate-card:active .check-container {
  width: 59px;
}
.rest .menu-content .plate-card:active .check-container .check__icon {
  animation: rotationIn 0.4s linear;
}
.rest .menu-content .plate-card:nth-child(2) {
  animation-delay: 0.1s;
}
.rest .menu-content .plate-card:nth-child(3) {
  animation-delay: 0.2s;
}
.rest .menu-content .plate-card:nth-child(4) {
  animation-delay: 0.3s;
}
.rest .button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.rest .button-container .button {
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px;
  height: 50px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  text-align: center;
  padding-top: 15px;
}
.rest .button-container .button a {
  color: #FFF;
}
.rest .button-container .button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .rest-header {
    padding-left: 70px;
    padding-right: 70px;
  }
  .rest {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 1024px) {
  .background__img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .rest-header {
    max-width: 1024px;
    width: 100%;
    margin: 350px auto 0px auto;
    text-align: center;
  }
  .rest-header .hearts .empty-heart {
    right: 275px;
  }
  .rest-header .hearts .filled-heart {
    right: 275px;
  }
  .rest {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 210px;
  }
}/*# sourceMappingURL=style.css.map */