.background__img{
    width: 100%;
}
.rest-entree{
    height: 100%;
    background-color: #F6F6F6;
    position: relative;
    top: -50px;
    z-index: 2;
    border-radius: 40px 40px 0px 0px;
    .rest-header{
        padding: 32px 17px;
        .rest-title{
            font-family: 'Shrikhand';
        }
        .hearts{
            width: 100%;
            height: 100%;
            position: relative;
            .empty-heart{
                position: absolute;
                right: 25px;
                top: -31px;
                visibility: visible;
            }
            .filled-heart{
                visibility: hidden;
                position: absolute;
                right: 25px;
                top: -31px;
                
            }
            &:hover{
                .empty-heart{
                    visibility: hidden;
                }
                .filled-heart{
                    visibility: visible;
                    animation: coeur .7s linear;
                }
            }
        }
    }
     

}
