.background__img{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 55px;

}
.rest-header{   
    margin-top: 200px;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    padding: 32px 0px 32px 13px;
    .rest-title{
        font-family: 'Shrikhand';
        font-size: 28px;
        font-weight: 400;
    }
    .hearts{
        width: 100%;
        height: 100%;
        position: relative;

        .empty-heart{
            position: absolute;
            right: 35px;
            top: -32px;
            visibility: visible;
            opacity: 1;
            transition: visibility 1000ms ease-in-out;
            transition: opacity 1000ms ease-in-out
        }
        .filled-heart{
            visibility: hidden;
            position: absolute;
            right: 35px;
            top: -31px;   
            opacity: 0;
            transition: visibility 1000ms ease-in-out;
            transition: opacity 1000ms ease-in-out;      
        }
        &:hover{
            .empty-heart{
                visibility: hidden;
                opacity: 0;
            }
            .filled-heart{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.rest{
    width: 100%;
    padding: 0 13px;
    background-color: hsl(0, 0%, 96%);
    @include menu-title;
    .menu-content{
        padding-top: 12px;
        padding-bottom: 40px;
        @include flex-column;
        gap: 15px;
        .plate-card{
            border-radius: 15px;
            border: none;
            background-color: #FFF;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            @include flex-row;
            align-items: end;
            justify-content: space-between;            
            animation: slideIn 1s linear;            
            .plate-card-content{
                width: 100%;
                @include flex-column;                
                font-size: 15px;  
                padding: 12px 0px 12px 12px; 
                gap: 5px;
                .plate__title{
                    width: 100%;
                    text-align: left;
                    font-weight: 600;
                    font-size: 18px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }         
                .subtitle{
                    width: 100%;
                    text-align: left;
                    font-weight: 300;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                
            } 
            .price{
                height: 100%;
                width: 10%;
                font-weight: 700;
                padding: 12px 15px 12px 0px;  
                transition: width .4s ease-in-out;
            }  
            .check-container{
                background-color: $tertiary;
                height: 69px;
                width: 0%;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                display: flex;
                @include center;
                transition: width .4s ease-in-out;
                .check__icon{
                    color: #FFF;
                    font-size: 18px;
                    visibility: hidden;
                    transform: rotate(0);
                    animation: rotationOut .4s linear;
                }
            } 
            &:hover{
                .price{
                    width: 15%;
                    padding-left: 10px;                    
                }
                .check-container{
                    width: 15%;
                    .check__icon{    
                        visibility: visible;                    
                        animation: rotationIn .4s linear;
                        
                    }                    
                }
            }         
                    
        }
        
        .plate-card:nth-child(2){
            animation-delay: .2s;
        }
        .plate-card:nth-child(3){
            animation-delay: .4s;
        }
        .plate-card:nth-child(4){
            animation-delay: .6s;
        }
    }
    .button-container{
        width: 100%;
        @include flex-row;
        @include center;
        padding-bottom: 40px;
        .button{
            @include button;       
                
        }  
    }
    
    
}

@media (min-width: 1024px) {
    .background__img{
        height: 400px;        
        object-fit: cover;
    }    
    .rest-header{
        max-width: 1024px;
        width: 100%;
        margin: 350px auto 0px auto;
        text-align: center;
        .hearts{
            .empty-heart{
                right: 335px;
            }
            .filled-heart{
                right: 335px;
            }
        }

    }
    .rest{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding: 0 210px;
    }
}
